<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item">
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </li>
    <li class="navbar-item">
      <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="navbar-item" *ngIf="isEncoder">
      <a routerLink="/my-encodings" routerLinkActive="active">My Matches</a>
    </li>
    <li class="navbar-item" *ngIf="isEncoder">
      <a routerLink="/add-match" routerLinkActive="active">New Match</a>
    </li>
    <li class="navbar-item" *ngIf="isAdmin">
      <a routerLink="/players" routerLinkActive="active">Players</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
